/*selector{
property: value;
property: value;
property: value;
}
*/

main
{
  margin:0;
    background-image:"canadian-maple-leaf-clipart.html#gal_post_11531_canadian-maple-leaf-clipart-1.jpg";
    background-repeat:space;
}


head {

  color: : red;
  font-size: medium;
}

body {

font-size: small;

}
