main
{
  margin:0;

}

img {

  width: auto;

  max-width: 100%;

  height: auto;

}


h1
 {

  color: red;
  font-size: x-large;
  text-transform: uppercase;
}

h2{
  color:#663300;
  font-size: large;

}

h3{
  color:#663300;
    font-size: medium;
}
ul,
ol
{
  line-height: 1.5em;
 margin-top: 1.5em;
 border-width:5px;
    border-style:dotted;
  border-color:red;
}



body {
 background-color:#ffffcc;
font-family: georgia, "times new roman", serif;
font-size: medium;

}
